#exit-modal {
  max-width: 580px;
}

#modal-cancel {
  display: none;
}

.lightbox-wrap {
  margin: -1em;
  background: url('../images/modal-image.jpg') no-repeat center center;
  background-size: cover;
  -moz-box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 20px black;

  .lightbox-content {
    padding: 60px 0 0 200px;

    #logo {
      max-width: 80px;
      border: none;
      padding-top: 10px;
    }

    .lightbox-text {
      height: 200px;

      .lightbox-title {
        width: 100%;
        color: #14153f;
        font-size: 33px;
        margin: 0 auto;
        text-align: center;
        text-shadow: 1px 1px 0 white;
        background: rgba(255,255,255, 0.6);
        @media only screen and ( max-width:1300px ) {
          font-size: 26px;
        }
        @media only screen and ( max-width:992px ) {
          width: 100%;
        }
      }
    }
  }

  .lightbox-cta {
    width: 100%;
    color: rgba(255,255,255, 0.6);
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    display: inline-block;

    .yes {
      position: absolute;
      left: 76px;
      bottom: 24px;
      z-index: 1;
    }

    .no {
      position: absolute;
      right: 56px;
      bottom: 24px;
      z-index: 1;
    }

    .lightbox-cta-title {
      color: white;
      font-size: 23px;
      margin: 0 auto;
      padding: 0 30px 20px;
      text-align: left;
      text-shadow: 1px 2px 1px #14153f;
    }

    .modal-submit {
      color: white;
      width: 40%;
      float: left;
      height: 100px;
      margin: 0 25px;
      padding: 10px 0;
      font-size: 40px;
      font-weight: bold;
      background: #219CDE;
      border-bottom: 0.15em solid #197db3;
      border-radius: 0.2em;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;

      &:hover {
        background: #197db3;
        padding-left: 10px;
      }

      &::after {
        padding: 0 0 0 .4em;
        content: url('../images/arrow-next-blue.svg');
      }
    }

    .modal-cancel {
      color: white;
      width: 40%;
      float: left;
      height: 80px;
      margin: 0 25px;
      // padding: 10px 0;
      font-size: 40px;
      font-weight: bold;
      line-height: unset;
      background: #AFAFAF;
      border-bottom: 0.15em solid #555555;
      border-radius: 0.2em;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;
      -webkit-transition: all 0.1s ease-in-out;
      -moz-transition: all 0.1s ease-in-out;
      -ms-transition: all 0.1s ease-in-out;
      -o-transition: all 0.1s ease-in-out;
      transition: all 0.1s ease-in-out;

      &:hover {
        background: #555555;
        padding-left: 10px;
      }

      &::after {
        padding: 0 0 0 .4em;
        content: url('../images/arrow-next.svg');
      }
    }
  }
}
