/* Pocket Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Border-box-sizing */
.block,
.block-group,
.block-group:after,
.block-group:before,
.block:after,
.block:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* Clearfix */
.block-group {
  *zoom: 1;
}

.block-group:after,
.block-group:before {
  display: table;
  content: "";
  line-height: 0;
}

.block-group:after {
  clear: both;
}

.block-group {
  list-style-type: none;
  // padding: 0;
  margin: 0 auto;
}
/* Nested grid */
.block-group > .block-group {
  clear: none;
  float: left;
}
/* Default block */
.block {
  float: left;
  width: 100%;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Mobile first */

.logo { width: 40%;}
.dropdown-menu { width: 60%;}
.submissions, .people-cta, .after-webform { display: none; }
.author-profile { width: 20%;}
.author-info { width: 60%; }

/* Desktop */

@media @min-desktop {
  .submissions, .people-cta { display: block; clear: left;}
  .share-icons { width: 10%; }
  .before-webform { width: 70%; }
  .after-webform { width: 20%; display: block; }
  .article-title { width: 70%; margin-left: 10%;}
  .author-profile { width: 10%; }
  .author-info { width: 10%; }
  .header-cta {display: none;}
}

/* Desktop HD */

@media @max-desktop {
  .logo { width: 15%; }
  .dropdown-menu { width: 60%; float: left;}
  .header-cta { width: 25%; display: block; clear: none;}
}
