/* BODY
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  color: @black;
  margin: 0;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.2;
  background-color: @white;
  font-family: 'Roboto', sans-serif;
}

.page-width {
  width: auto;
  padding: 0 2em;
  margin: 0 auto;
  max-width: 1280px;

  @media @max-desktop {
    padding: 0;
  }
}

/* Headings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
  color: @black;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 600;
}
h2 {
  color: @white;
  font-size: 2.3em;
  line-height: 1.2;
  font-weight: bold;
  @media @max-tablet {
    font-size: 1.8em;
    line-height: 1.1;
  }
}
h3 {
  color: @white;
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 300;
  @media @max-tablet {
    font-size: 1em;
    line-height: 1.2;
  }
}
h4 {
  color: @white;
  font-size: 1em;
  border-bottom: .1em solid @col-05;
}
h5 {
  color: @col-04;
  font-size: 1.8em;
  line-height: 1.4;
  margin: 0;
}
h6 {
  color: @col-04;
  font-size: 1.3em;
  line-height: 1.2;
}
strong, b {
  font-weight: 600;
}
em, i {
  font-style: italic;
}
ul li {
  display: inline;
  line-height: 20px;
}
a {
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-in-out;
     -moz-transition: background-color 0.5s ease-in-out;
      -ms-transition: background-color 0.5s ease-in-out;
       -o-transition: background-color 0.5s ease-in-out;
          transition: background-color 0.5s ease-in-out;
}
img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

/* Section Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#advert h3 {
  color: @black;
  left: 0;
  margin: 0 auto;
  width: 100%;
  font-size: 0.9em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
}

#section-header {

  height: 60px;
  width: 100%;
  z-index: 99;
  background: @white;

  @media @min-tablet {
    border-bottom: .1em solid @col-01;
    box-shadow: 0 0 32px @col-02;
  }

  @media @min-desktop {
    position: fixed;
  }

  #section-menu {
    width: 100%;
  }

  .page-width {
    padding: 0;
  }
}

#section-banner {
  padding-top: 60px;
  background-image: url('../images/workfromhomecouple.jpg');
  background-repeat: no-repeat;
  background-position: 36%;
  background-size: cover;

  @media @max-laptop {
    .page-width {
      padding: 0;
    }
  }
}

#section-content {
  article {
    @media only screen and (max-width: 570px) {
      margin-top: 2.4em;
    }
  }
  .share-icons {
    padding: 1.2em 0;

    @media @max-laptop {
      margin-top: -6.4em;
    }

    @media only screen and (max-width: 570px) {
      margin-top: -4.6em;
      padding: 3.6em 0 1em;
      width: 80%;
      position: relative;
    }
  }
}

#section-lower-body {
  background: @col-05;
  height: 160px;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;

  &:hover {
    background-color: @col-03;

    .secondary-cta a {
      background-color: @col-04;
    }
  }
}

#section-footer {
  color: @white;
  border-top: .1em solid @col-05;
  border-bottom: .4em solid @col-01;
  background-color: @grey-6;

  .featured {
     padding: 0em 4em;
     z-index: 9999999;

     .brand {
       display: inline-flex;
       width: 100%;

       @media @min-tablet {
         width: 24%;
       }
     }

     @media @min-tablet{
       padding: 1em 2em;
     }
     @media @max-desktop{
       padding: 1em 8em;
     }
  }

  .copyright {
    float: right;
    margin: 0 3em;
    a {
      color: @white;
    }
  }
}

#section-disclaimer {
  padding-top: .8em;
  text-align: center;
  background-color: @white;
}
