/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-style: normal;

  src: url('https://fonts.googleapis.com/css?family=Lato');
}

/* Style Guide
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@black:  #000;
@white:  #fff;

@grey-1: #f7f7f7;
@grey-2: #DDDDDD;
@grey-3: #C3CBD5;
@grey-4: #8B9396;
@grey-5: #5A5F6A;
@grey-6: #3F4650;

//primary
@col-01: #197DB4;
//secondary
@col-02: #135e86;
//accent
@col-03: #1bc09c;
//accent2
@col-04: #EE6E74;
//pirmary - shade1
@col-05: #dff9d2;
//pirmary - shade2
@col-06: #d6ecf5;
//pirmary - shade3
@col-07: #204c60;

@overlay-men: rgba(25,125,180, .4);
@overlay-women: rgba(238,110,116, .4);

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@min-mobile: ~"only screen and (max-width: 360px)";
@max-mobile: ~"only screen and (min-width: 470px)";
@min-tablet: ~"only screen and (min-width: 768px)";
@max-tablet: ~"only screen and (max-width: 767px)";
@max-laptop: ~"only screen and (max-width: 992px)";
@min-desktop: ~"only screen and (min-width: 992px)";
@max-desktop: ~"only screen and (min-width: 1200px)";

/* Less Helper Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.show-mobile {
  display: block;
  visibility: visible;
  @media @min-desktop {
    display: none;
    visibility: hidden;
  }
}

.show-desktop {
  display: none;
  visibility: hidden;
  @media @min-desktop {
    display: block;
    visibility: visible;
  }
}

.hide-visual {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.sticky {
  @media @min-desktop {
    top: 0;
    margin-top: 60px !important;
    position: fixed;
    z-index: 99;
  }
}

.webform-margin {
  @media @min-desktop {
    margin-left: 10%;
  }
}

.text-break {
  display: none;
  @media @min-desktop {
    display: block;
  }
}

.hide {
  @media @max-laptop {
    display: none;
  }
}

/* UI components
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  padding: .8em 0;
  text-align: center;
  margin-top: -2px;
  background: @col-03;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;

  a {
    color: @white;
  }

  &:hover {
    background: @col-07;
    padding-left: .6em;
  }
}
