.webform-footer {
  margin: 90px;

  @media @min-tablet {
    margin: 3.3em;
  }

  @media @min-desktop {
    margin: 0 0 0 50%;
    height: 240px;
  }

  .submissions {
    color: @col-02;
    width: 90%;
    font-size: 1.1em;
    font-weight: 600;
    padding-top: 1em;
    padding-left: 1em;
    &::before {
      position: absolute;
      top: 12%;
      left: 46%;
      display: block;
      content: url('../images/arrow-pointer.png');
    }
    @media @max-desktop {
      padding-top: .8em;
      width: 70%;
    }
  }

  .people-cta {

    a {
      width: 82px;
      height: 82px;
      margin: .2em .4em;
      border-radius: 50%;
      display: inline-block;
      background: @white url('../images/couple-ctas.png') no-repeat center;
      background-size: 320%;
      -webkit-box-shadow: @col-02 0 0 0 3px inset, @col-03 2px 3px 0;
         -moz-box-shadow: @col-02 0 0 0 3px inset, @col-03 2px 3px 0;
          -ms-box-shadow: @col-02 0 0 0 3px inset, @col-03 2px 3px 0;
           -o-box-shadow: @col-02 0 0 0 3px inset, @col-03 2px 3px 0;
              box-shadow: @col-02 0 0 0 3px inset, @col-03 2px 3px 0;

      @media @max-desktop {
        width: 100px;
        height: 100px;
      }

      &:hover {
        background-color: @col-04;
        -webkit-box-shadow: @col-02 0 0 0 3px inset, @col-04 2px 3px 0;
           -moz-box-shadow: @col-02 0 0 0 3px inset, @col-04 2px 3px 0;
            -ms-box-shadow: @col-02 0 0 0 3px inset, @col-04 2px 3px 0;
             -o-box-shadow: @col-02 0 0 0 3px inset, @col-04 2px 3px 0;
                box-shadow: @col-02 0 0 0 3px inset, @col-04 2px 3px 0;
        .tooltip {
          display: block;
          visibility: visible;
        }
      }

      &.people-cta-01 {
        background-position: 0 44%;
      }

      &.people-cta-02 {
        background-position: 100% -3%;
      }

      &.people-cta-03 {
        background-position: 0 88%;
      }

      &.people-cta-04 {
        background-position: 0 -4%;
      }

      &.people-cta-05 {
        background-position: 50% 44%;
      }


      .tooltip {
        color: @white;
        width: 60px;
        height: 20px;
        font-size: 20px;
        background-color: @grey-5;
        text-align: center;
        padding: 5px 0;
        border-radius: .2em;
        position: absolute;
        left: 80%;
        display: none;
        margin-top: 110px;
        margin-left: -60px;
      }
    }
  }
}

.webform-header {

  color: @white;
  width: 100%;
  opacity: 0.9;
  height: auto;
  bottom: 0;
  background-color: @col-01;


  @media @min-desktop {
    height: 160px;
  }

  .article-title {

    @media @max-laptop {
      padding: 0 2em;
    }

    h2, h3 {
      margin: 0 0;
      padding: .4em 0;
    }
  }

  .author {

    float: left;
    width: 100%;
    margin: 0 auto;
    background-color: @white;
    border-bottom: 1px solid @col-01;

    @media only screen and (max-width: 570px) {
      padding-bottom: 2em;
    }

    @media @min-desktop {
      float: none;
      margin-left: 0;
      margin-right: 0;
      background-color: transparent;
      border-bottom: none;
    }

    &-profile {

      @media @min-desktop {
        height: 160px;
        padding: .6em 2em;
        border-left: .15em solid #D7DCE2;
      }

      img {
        width: 40px;
        margin-top: 1.2em;
        margin-left: 3em;
        border-radius: 6px;
        border: 2px solid @col-02;

        @media @min-desktop {
          width: 60px;
          margin-top: 2.4em;
          margin-left: 1em;
        }
      }
    }

    &-info {
      color: @col-02;
      font-size: .8em;
      padding: 1em 0;
      margin-left: 3em;

      @media @min-tablet {
        margin-left: 0;
      }

      @media @min-desktop {
        padding: 3em 0;
        color: @white;
      }
    }
  }
}
