/* Brand Logos
–––––––––––––––––––––––––––––––––––––––––––––––––– */




/* Menu Styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#main-menu {

  &.nondisplay-menu-mob {
    display: none;
    visibility: hidden;
    @media @min-desktop {
      display: block;
      visibility: visible;
    }
  }

  &.hidden-menu-mob {
    display: none;
    visibility: hidden;
    @media @min-desktop {
      display: block;
      visibility: visible;
    }
  }

  .menubar-ul {
    float: right;

    a {
      color: @black;
      padding: 0 .6em;

      &:hover {
        color: @col-07;
      }
    }

    @media @max-laptop {
      top: 0;
      right: 0;
      width: 200px;
      height: auto;
      opacity: 0.8;
      text-align: right;
      margin: 3.6em 0;
      background-color: @col-02;
      position: absolute;

      li {
        display: inline-flex;
        padding: .6em;
        a {
          padding: 0 1em;
          color: @white;
        }
      }
    }
  }
}

.logo {
  color: @col-01;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
  line-height: 0.2;
  position: relative;
  text-align: center;
  text-decoration: none;
  padding: 0 20px;

  @media @max-desktop {
    padding: 0;
  }

  h1 {
    color: @col-01;
    top: -12px;
    padding: 0 .2em;
    display: inline;
    position: relative;
    @media @min-mobile {
      font-size: .9em;
    }
  }

  img {
    width: 50px;
    margin-top: 10px;
    display: inline;
  }
}

.dropdown-menu {
  padding: 0 20px;

  @media @max-desktop {
    padding: 0;
  }

  @media @min-desktop {
    margin-top: 22px;
  }
}

.header-cta {
  float: right;
  width: 100%;
  padding: 1.6em;
  border-top: solid @col-02;
  border-bottom: solid @col-02;
  @media @min-tablet {
    padding: .8em;
    margin-top: 5em;
    margin-right: 10%;
    width: 260px;
    border: .1875em solid #fff;
    border-radius: .5em;
    box-shadow: 0 0 0 0.125em #006db1;
  }
  @media @min-desktop {
    margin-top: .3em;
    margin-right: 2em;
  }
}

.hamburger {

  float: right;
  height: 20px;
  width: 20px;
  cursor: pointer;
  padding: 1em;
  margin: 0;
  text-transform: none;
  text-decoration: none;
  border-radius: 0;
  background-color: transparent;
  overflow: visible;

  .menu-togglebtn {
    background: none;
    border: none;
  }

  &:hover {
    opacity: 0.7;
  }

  ul {
    margin: 0;
    padding-top: 10px;
    list-style: none;
    overflow: hidden;
    background: @white;

    li a {
      display: block;
      padding: 10px;
      border-right: 1px solid @grey-1;
      text-decoration: none;
    }
  }
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1px;

  &,
  &::after,
  &::before {
    width: 30px;
    height: 3px;
    position: absolute;
    background-color: @col-01;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }
}
