.at-share-btn-elements {
  top: 20px;
  right: 0;
  position: absolute;
}

.before-webform {

  @media @min-desktop {
    padding-right: 6em;
    border-right: 1px solid rgba(0,0,0,0.1);
  }

  .people-icons {
    width: 100%;
    margin: 0 auto;
    display: inline-block;

    .men, .women {
      display: inline;

      @media @max-tablet {
        float: left;
        display: block;
        margin: .7em;
        width: 41%;

        a {
          width: 100%;
        }
      }
    }

    .label {
      position: absolute;
      top: 110px;
      left: 40px;
    }

    .icon-wrap {
      margin: .8em;
      height: 190px;
      text-align: center;
      display: inline-block;
      vertical-align: top;
      border-bottom: 1px solid @col-01;
      border-radius: .2em;
      background-color: @white;
      overflow: hidden;
      box-shadow: 0 0 0 1px @col-02,0 0 0 6px @white,0 0 0 8px @col-02,0 5px 2px 6px rgba(13,51,89,.4);

      &:hover {
        h6 {
          color: @col-02;
        }
      }

      .men-icon {
        background-image: url('../images/people-icons.png');
        position: relative;
        width: 134px;
        height: 190px;
        margin: 0 auto;
        overflow: hidden;

        &:hover {
          background-color: @overlay-men;
        }

        &-01 {
           background-position: 0 0;
           &:hover {
              background-position: 25.2% 0;
           }
        }

        &-02 {
           background-position: 50% 0px;
           &:hover {
              background-position: 75.2% 0;
           }
        }

        &-03 {
           background-position: 100.4% 0px;
           &:hover {
              background-position: 122.2% 33.4%;
           }
        }

        &-04 {
          background-position: 24.8% 33.4%;
          &:hover {
            background-position: 50% 33.4%;
          }
        }

        &-05 {
          background-position: 75% 33.4%;
          &:hover {
            background-position: 100.2% 33.4%;
          }
        }
      }

      .women-icon {
        background-image: url('../images/people-icons.png');
        position: relative;
        width: 134px;
        height: 190px;
        margin: 0 auto;
        overflow: hidden;

        &:hover {
          background-color: @overlay-women;
        }

        &-01 {
           background-position: 25% 66.8%;
           &:hover {
              background-position: -0.2% 66.8%;
           }
        }

        &-02 {
           background-position: 75% 66.8%;
           &:hover {
              background-position: 49.8% 66.8%;
           }
        }

        &-03 {
           background-position: 100.4% 66.8%;
           &:hover {
              background-position: 122.2% 100.2%;
           }
        }

        &-04 {
          background-position: 172.3% 100.2%;
          &:hover {
            background-position: 147.2% 100.2%;
          }
        }

        &-05 {
          background-position: 223.2% 100.2%;
          &:hover {
            background-position: 198% 100.2%;
          }
        }
      }

      @media @max-mobile {
        width: 26%;
      }

      @media @min-tablet {
        width: 16%;
      }
    }
  }
}

.after-webform {

  position: relative;

  .banner {
    padding: 1em;
    max-width: 200px;

    a {

      .glasses-icons {
        max-width: 50%;
        float: left;
        height: auto;
      }
    }
  }
}

.secondary-cta {
  padding: 4em 1em;

  @media @min-tablet {
    padding: 4em 8em;
  }
  a {
    color: @white;
    padding: .8em .4em;

    @media @min-tablet {
      margin-top: 4px;
      width: 260px;
      border: .1875em solid #fff;
      border-radius: .5em;
      box-shadow: 0 0 0 0.125em #006db1;
    }
  }
}
